In [ ]:
#Raval, April 15, Modules and Databases
#11.1
#zoo.py
def hours():
    print('Open 9-5 daily')

#python interpreter
>>> import zoo
>>> zoo.hours()
Open 9-5 daily

In [ ]:
#11.2
#python interpreter
>>> import zoo as menagerie
>>> menagerie.hours()

In [ ]:
#16.8
from sqlalchemy import create_engine, MetaData, Table
engine = create_engine('sqlite:///books.db')
metadata = MetaData()
metadata.reflect(bind=engine)
book_table = metadata.tables['book']
query = book_table.select().order_by(book_table.c.title)
with engine.connect() as connection:
    result = connection.execute(query)
    for row in result:
        print(row['title'])